## Preprocessing occupational data from 2021 census

In [45]:
# 2021SA2 (UR) by 1-digit level OCCP Occupation.csv
import pandas as pd

In [46]:
# load 2021 ABS Census data on family number
occupation_2021_path = "../data/landing/ABS_data/2021SA2 (UR) by 1-digit level OCCP Occupation.csv"
skip_rows = 9
occupation_2021_data = pd.read_csv(occupation_2021_path, skiprows=skip_rows)
occupation_2021_data

,1-digit level OCCP Occupation,Managers,Professionals,Technicians and Trades Workers,Community and Personal Service Workers,Clerical and Administrative Workers,Sales Workers,Machinery Operators and Drivers,Labourers,Inadequately described,Not stated,Not applicable,Total,Unnamed: 13
0,SA2 (UR),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alfredton,1013,2113.0,1073.0,1106.0,1128.0,861.0,378.0,738.0,71.0,45.0,8309.0,16835.0,NaN
2,Ballarat,859,1959.0,546.0,706.0,670.0,463.0,164.0,351.0,45.0,33.0,6330.0,12131.0,NaN
3,Buninyong,493,967.0,407.0,403.0,448.0,310.0,147.0,264.0,29.0,23.0,3765.0,7261.0,NaN
4,Delacombe,487,903.0,838.0,758.0,660.0,557.0,344.0,586.0,49.0,29.0,5458.0,10661.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,Total,442109,790960.0,399460.0,347570.0,392444.0,263317.0,187939.0,277292.0,36366.0,25435.0,3340594.0,6503491.0,NaN
526,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,INFO,Cells in this table have been randomly adjuste...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
occupation_2021_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   1-digit level OCCP Occupation           530 non-null    object
 1   Managers                                526 non-null    object
 2   Professionals                           525 non-null    float64
 3   Technicians and Trades Workers          525 non-null    float64
 4   Community and Personal Service Workers  525 non-null    float64
 5   Clerical and Administrative Workers     525 non-null    float64
 6   Sales Workers                           525 non-null    float64
 7   Machinery Operators and Drivers         525 non-null    float64
 8   Labourers                               525 non-null    float64
 9   Inadequately described                  525 non-null    float64
 10  Not stated                              525 non-null    float64
 11  Not applicable                          525 non-null    float64
 12  Total                                   525 non-null    float64
 13  Unnamed: 13                             0 non-null      float64
dtypes: float64(12), object(2)
memory usage: 58.1+ KB

In [48]:
occupation_2021_data = occupation_2021_data.applymap(lambda x: 0 if "Cells "
                                                                          "in this table have been randomly adjusted to avoid the release of confidential data. "
                                                                          "No reliance should be "
                                                                          "placed on small cells."
                                                                          "" in str(x) else x)

In [49]:
occupation_2021_data['Managers'] = occupation_2021_data['Managers'].astype(float)
occupation_2021_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   1-digit level OCCP Occupation           530 non-null    object
 1   Managers                                526 non-null    float64
 2   Professionals                           525 non-null    float64
 3   Technicians and Trades Workers          525 non-null    float64
 4   Community and Personal Service Workers  525 non-null    float64
 5   Clerical and Administrative Workers     525 non-null    float64
 6   Sales Workers                           525 non-null    float64
 7   Machinery Operators and Drivers         525 non-null    float64
 8   Labourers                               525 non-null    float64
 9   Inadequately described                  525 non-null    float64
 10  Not stated                              525 non-null    float64
 11  Not applicable                          525 non-null    float64
 12  Total                                   525 non-null    float64
 13  Unnamed: 13                             0 non-null      float64
dtypes: float64(13), object(1)
memory usage: 58.1+ KB

In [50]:
# preprocessing
occupation_2021_data.drop(occupation_2021_data.index[0], inplace = True)
occupation_2021_data.drop(columns=occupation_2021_data.columns[-1], inplace = True)
occupation_2021_data

,1-digit level OCCP Occupation,Managers,Professionals,Technicians and Trades Workers,Community and Personal Service Workers,Clerical and Administrative Workers,Sales Workers,Machinery Operators and Drivers,Labourers,Inadequately described,Not stated,Not applicable,Total
1,Alfredton,1013.0,2113.0,1073.0,1106.0,1128.0,861.0,378.0,738.0,71.0,45.0,8309.0,16835.0
2,Ballarat,859.0,1959.0,546.0,706.0,670.0,463.0,164.0,351.0,45.0,33.0,6330.0,12131.0
3,Buninyong,493.0,967.0,407.0,403.0,448.0,310.0,147.0,264.0,29.0,23.0,3765.0,7261.0
4,Delacombe,487.0,903.0,838.0,758.0,660.0,557.0,344.0,586.0,49.0,29.0,5458.0,10661.0
5,Smythes Creek,268.0,378.0,416.0,277.0,270.0,198.0,166.0,216.0,27.0,10.0,2004.0,4230.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,Total,442109.0,790960.0,399460.0,347570.0,392444.0,263317.0,187939.0,277292.0,36366.0,25435.0,3340594.0,6503491.0
526,"Dataset: Census of Population and Housing, 202...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,INFO,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,"Copyright Commonwealth of Australia, 2021, see...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529,"ABS data licensed under Creative Commons, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:

occupation_2021_data.rename(columns={'1-digit level OCCP Occupation': 'SA2 Name'}, inplace=True)
occupation_2021_data.rename(columns={'Total': 'Total Suburb Occupation Types'}, inplace=True)

In [52]:

occupation_2021_data = occupation_2021_data.iloc[:-7, :]
occupation_2021_data.tail(10)

,SA2 Name,Managers,Professionals,Technicians and Trades Workers,Community and Personal Service Workers,Clerical and Administrative Workers,Sales Workers,Machinery Operators and Drivers,Labourers,Inadequately described,Not stated,Not applicable,Total Suburb Occupation Types
513,Camperdown,188.0,256.0,214.0,191.0,137.0,130.0,119.0,215.0,11.0,19.0,2008.0,3491.0
514,Colac,574.0,677.0,849.0,798.0,521.0,537.0,493.0,1350.0,65.0,62.0,6832.0,12756.0
515,Colac Surrounds,782.0,400.0,355.0,283.0,249.0,184.0,227.0,394.0,19.0,32.0,2736.0,5669.0
516,Corangamite - North,653.0,273.0,290.0,276.0,216.0,153.0,223.0,350.0,22.0,18.0,2917.0,5395.0
517,Corangamite - South,1169.0,358.0,401.0,284.0,230.0,213.0,280.0,601.0,24.0,42.0,3572.0,7180.0
518,Otway,407.0,303.0,235.0,177.0,155.0,135.0,75.0,270.0,15.0,20.0,2215.0,4008.0
519,Moyne - East,1101.0,418.0,419.0,334.0,236.0,222.0,209.0,550.0,20.0,47.0,3463.0,7018.0
520,Moyne - West,1043.0,863.0,639.0,529.0,444.0,350.0,260.0,555.0,33.0,57.0,5234.0,10014.0
521,Warrnambool - North,1157.0,2058.0,1570.0,1465.0,1252.0,1223.0,631.0,1473.0,103.0,81.0,11391.0,22405.0
522,Warrnambool - South,769.0,1427.0,870.0,833.0,625.0,573.0,325.0,935.0,62.0,60.0,6853.0,13337.0

#### Save the data

In [53]:
# Specify the file path where you want to save the CSV file
file_path = "../data/curated/ABS_data/SA2_Occupation_Types_2021.csv"

# Use the to_csv method to save the DataFrame to a CSV file
occupation_2021_data.to_csv(file_path, index=False)