# Analysis external ABS datasets
- This notebook is to analysis the external data that were downloaded from the ABS, and merged to the listing domain data

External datasets are:
- population density
- population counts
- income

### Read the shapefiles

In [76]:
from shapely.geometry import Point
import geopandas as gpd
import pandas as pd

In [85]:
shapefile_path = "../data/landing/SA2_2021_AUST_SHP_GDA2020/SA2_2021_AUST_GDA2020.shp"

In [110]:
listing_path = "../data/curated/listings_suburbs_SA2.csv"

In [107]:
suburbs_path = "../data/landing/SAL_2021_AUST_GDA2020_SHP/SAL_2021_AUST_GDA2020.shp"

In [105]:
SA2_list = gpd.read_file(shapefile_path)

In [111]:
listing_domain = pd.read_csv(listing_path)
listing_domain

,Location,type_property,price,LT_resident_pcg,owner_pcg,family_pcg,state,rooms,bath,parking,...,pulic_2_dis,rent,is_furnished,latitude,longitude,geometry,SA2_NAME,SA2_CODE,SAL_NAME21,SAL_CODE
0,4506/33 Rose Lane Melbourne VIC 3000,Apartment / Unit / Flat,$520 per week,12.0,28.0,27.0,VIC,1.0,1.0,0.0,...,2.0,520.0,False,-37.815000,144.953871,POINT (144.9538708 -37.8150001),Melbourne CBD - West,206041505.0,Melbourne,21640.0
1,1715/220 Spencer Street Melbourne VIC 3000,Apartment / Unit / Flat,$750,12.0,28.0,27.0,VIC,2.0,2.0,1.0,...,2.1,750.0,False,-37.815781,144.952916,POINT (144.9529156 -37.815781),Melbourne CBD - West,206041505.0,Melbourne,21640.0
2,512/118 Franklin Street Melbourne VIC 3000,Apartment / Unit / Flat,$430,NaN,29.0,16.0,VIC,1.0,1.0,0.0,...,1.3,430.0,False,-37.808205,144.958903,POINT (144.9589035 -37.8082052),Melbourne CBD - North,206041504.0,Melbourne,21640.0
3,5801/648 Lonsdale Street Melbourne VIC 3000,Apartment / Unit / Flat,$800,12.0,20.0,34.0,VIC,2.0,2.0,0.0,...,1.9,800.0,False,-37.814454,144.953443,POINT (144.9534426 -37.8144537),Melbourne CBD - West,206041505.0,Melbourne,21640.0
4,1.2/187 Collins Street Melbourne VIC 3000,Apartment / Unit / Flat,$475 pw,37.0,49.0,51.0,VIC,1.0,1.0,0.0,...,2.3,475.0,False,-37.815405,144.967852,POINT (144.9678522 -37.81540469999999),Melbourne CBD - East,206041503.0,Melbourne,21640.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12043,16 Nautilus Road Inverloch VIC 3996,House,$400,47.0,72.0,61.0,VIC,3.0,1.0,1.0,...,12.5,400.0,False,-38.631059,145.737726,POINT (145.7377255 -38.631059),Wonthaggi - Inverloch,205031093.0,Inverloch,21235.0
12044,1/59 Williams Street Inverloch VIC 3996,Townhouse,$460 per week,63.0,57.0,50.0,VIC,3.0,2.0,1.0,...,11.8,460.0,False,-38.626891,145.730945,POINT (145.7309454 -38.6268906),Wonthaggi - Inverloch,205031093.0,Inverloch,21235.0
12045,10 Beacon Crt Inverloch Inverloch VIC 3996,House,$410,52.0,81.0,65.0,VIC,2.0,1.0,1.0,...,10.8,410.0,False,-38.639329,145.715185,POINT (145.7151855 -38.6393294),Wonthaggi - Inverloch,205031093.0,Inverloch,21235.0
12046,10 Blue Wren Way Inverloch VIC 3996,House,$600,NaN,79.0,73.0,VIC,3.0,2.0,2.0,...,10.1,600.0,False,-38.629971,145.709898,POINT (145.7098975 -38.6299709),Wonthaggi - Inverloch,205031093.0,Inverloch,21235.0
12047,2/37 A'Beckett Street Inverloch VIC 3996,Townhouse,$450,55.0,66.0,54.0,VIC,3.0,2.0,1.0,...,11.5,450.0,False,-38.633966,145.725372,POINT (145.7253717 -38.6339662),Wonthaggi - Inverloch,205031093.0,Inverloch,21235.0

### Retrieve relevant columns

In [106]:
SA2_list = SA2_list.loc[SA2_list['STE_NAME21']=='Victoria']
SA2_list = SA2_list[['SA2_NAME21','AREASQKM21']]
SA2_list.head()

        SA2_NAME21  AREASQKM21
644      Alfredton     52.7109
645       Ballarat     12.3787
646      Buninyong     51.5855
647      Delacombe     34.1607
648  Smythes Creek    104.7274

In [113]:
suburb_list = gpd.read_file(suburbs_path)
suburb_list.head()

,SAL_CODE21,SAL_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,SHAPE_Leng,SHAPE_Area,geometry
0,10001,Aarons Pass,1,New South Wales,AUS,Australia,82.7639,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.554241,0.007975,"POLYGON ((149.82477 -32.84384, 149.83271 -32.8..."
1,10002,Abbotsbury,1,New South Wales,AUS,Australia,4.9788,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.123051,0.000485,"POLYGON ((150.86523 -33.88264, 150.86479 -33.8..."
2,10003,Abbotsford (NSW),1,New South Wales,AUS,Australia,1.0180,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.053423,0.000099,"POLYGON ((151.13472 -33.85492, 151.13445 -33.8..."
3,10004,Abercrombie,1,New South Wales,AUS,Australia,2.9775,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.097338,0.000289,"POLYGON ((149.55192 -33.39280, 149.55148 -33.3..."
4,10005,Abercrombie River,1,New South Wales,AUS,Australia,127.1701,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.848903,0.012397,"POLYGON ((149.25562 -33.96535, 149.25563 -33.9..."

In [114]:
suburb_list = SA2_list[['SAL_NAME21','AREASQKM21']]
suburb_list.head()

KeyError: "['SAL_NAME21'] not in index"

#### Read the saved ABS files

In [39]:
# income_file_path = "../data/landing/ABS_data/income.csv"
dwelling_file_path = "../data/curated/ABS_data/SA2_Dwelling_Structure_2021.csv"
occupation_file_path = "../data/curated/ABS_data/SA2_Occupation_Types_2021.csv"
person_file_path = "../data/curated/ABS_data/SA2_Person_in_Family_2021.csv"
family_file_path = "../data/curated/ABS_data/SA2_Family_Number_2021.csv"

In [40]:
occupation_data = pd.read_csv(occupation_file_path)
occupation_data.head()

,SA2 Name,Managers,Professionals,Technicians and Trades Workers,Community and Personal Service Workers,Clerical and Administrative Workers,Sales Workers,Machinery Operators and Drivers,Labourers,Inadequately described,Not stated,Not applicable,Total Suburb Occupation Types
0,Alfredton,1013.0,2113.0,1073.0,1106.0,1128.0,861.0,378.0,738.0,71.0,45.0,8309.0,16835.0
1,Ballarat,859.0,1959.0,546.0,706.0,670.0,463.0,164.0,351.0,45.0,33.0,6330.0,12131.0
2,Buninyong,493.0,967.0,407.0,403.0,448.0,310.0,147.0,264.0,29.0,23.0,3765.0,7261.0
3,Delacombe,487.0,903.0,838.0,758.0,660.0,557.0,344.0,586.0,49.0,29.0,5458.0,10661.0
4,Smythes Creek,268.0,378.0,416.0,277.0,270.0,198.0,166.0,216.0,27.0,10.0,2004.0,4230.0

In [41]:
dwelling_data = pd.read_csv(dwelling_file_path)
dwelling_data.head()

,SA2 Name,Separate house,Semi-detached house or Townhouse,Flat or Apartment,Non-residential properties,Total Suburb Dwellings
0,Alfredton,5717.0,223.0,275.0,27.0,6245.0
1,Ballarat,4588.0,863.0,417.0,105.0,5970.0
2,Buninyong,2613.0,78.0,45.0,19.0,2768.0
3,Delacombe,3914.0,225.0,15.0,19.0,4172.0
4,Smythes Creek,1489.0,0.0,0.0,0.0,1490.0

In [42]:
person_data = pd.read_csv(person_file_path)
person_data.head()

,SA2 Name,Two persons in family,Three persons in family,Four persons in family,Five persons in family,Six or more persons in family,Not applicable,Total Suburb Population
0,Alfredton,1812.0,952.0,1144.0,506.0,151.0,1728.0,6287.0
1,Ballarat,1687.0,598.0,512.0,205.0,48.0,2426.0,5486.0
2,Buninyong,954.0,359.0,442.0,188.0,60.0,708.0,2716.0
3,Delacombe,1361.0,687.0,588.0,215.0,82.0,1332.0,4266.0
4,Smythes Creek,496.0,241.0,279.0,133.0,64.0,314.0,1528.0

In [43]:
family_data = pd.read_csv(family_file_path)
family_data.head()

        SA2 Name  Immediate Family  Extended Family  Total Suburb Population
0      Alfredton            4559.0           1728.0                   6287.0
1       Ballarat            3060.0           2426.0                   5486.0
2      Buninyong            2008.0            708.0                   2716.0
3      Delacombe            2934.0           1332.0                   4266.0
4  Smythes Creek            1214.0            314.0                   1528.0

In [44]:
merged_df = pd.merge(family_data, person_data, on="SA2 Name", how="inner")
merged_df = pd.merge(merged_df, dwelling_data, on="SA2 Name", how="inner")

In [45]:
merged_df.head()

,SA2 Name,Immediate Family,Extended Family,Total Suburb Population_x,Two persons in family,Three persons in family,Four persons in family,Five persons in family,Six or more persons in family,Not applicable,Total Suburb Population_y,Separate house,Semi-detached house or Townhouse,Flat or Apartment,Non-residential properties,Total Suburb Dwellings
0,Alfredton,4559.0,1728.0,6287.0,1812.0,952.0,1144.0,506.0,151.0,1728.0,6287.0,5717.0,223.0,275.0,27.0,6245.0
1,Ballarat,3060.0,2426.0,5486.0,1687.0,598.0,512.0,205.0,48.0,2426.0,5486.0,4588.0,863.0,417.0,105.0,5970.0
2,Buninyong,2008.0,708.0,2716.0,954.0,359.0,442.0,188.0,60.0,708.0,2716.0,2613.0,78.0,45.0,19.0,2768.0
3,Delacombe,2934.0,1332.0,4266.0,1361.0,687.0,588.0,215.0,82.0,1332.0,4266.0,3914.0,225.0,15.0,19.0,4172.0
4,Smythes Creek,1214.0,314.0,1528.0,496.0,241.0,279.0,133.0,64.0,314.0,1528.0,1489.0,0.0,0.0,0.0,1490.0

In [47]:
columns_to_drop = ["Total Suburb Population_y", "Not applicable"]
merged_df.drop(columns=columns_to_drop, inplace=True)

In [48]:
merged_df.head()

,SA2 Name,Immediate Family,Extended Family,Total Suburb Population_x,Two persons in family,Three persons in family,Four persons in family,Five persons in family,Six or more persons in family,Separate house,Semi-detached house or Townhouse,Flat or Apartment,Non-residential properties,Total Suburb Dwellings
0,Alfredton,4559.0,1728.0,6287.0,1812.0,952.0,1144.0,506.0,151.0,5717.0,223.0,275.0,27.0,6245.0
1,Ballarat,3060.0,2426.0,5486.0,1687.0,598.0,512.0,205.0,48.0,4588.0,863.0,417.0,105.0,5970.0
2,Buninyong,2008.0,708.0,2716.0,954.0,359.0,442.0,188.0,60.0,2613.0,78.0,45.0,19.0,2768.0
3,Delacombe,2934.0,1332.0,4266.0,1361.0,687.0,588.0,215.0,82.0,3914.0,225.0,15.0,19.0,4172.0
4,Smythes Creek,1214.0,314.0,1528.0,496.0,241.0,279.0,133.0,64.0,1489.0,0.0,0.0,0.0,1490.0

In [49]:
merged_df.rename(columns={"Total Suburb Population_x": "Total Suburb Population"}, inplace=True)

In [50]:
merged_df.head()

,SA2 Name,Immediate Family,Extended Family,Total Suburb Population,Two persons in family,Three persons in family,Four persons in family,Five persons in family,Six or more persons in family,Separate house,Semi-detached house or Townhouse,Flat or Apartment,Non-residential properties,Total Suburb Dwellings
0,Alfredton,4559.0,1728.0,6287.0,1812.0,952.0,1144.0,506.0,151.0,5717.0,223.0,275.0,27.0,6245.0
1,Ballarat,3060.0,2426.0,5486.0,1687.0,598.0,512.0,205.0,48.0,4588.0,863.0,417.0,105.0,5970.0
2,Buninyong,2008.0,708.0,2716.0,954.0,359.0,442.0,188.0,60.0,2613.0,78.0,45.0,19.0,2768.0
3,Delacombe,2934.0,1332.0,4266.0,1361.0,687.0,588.0,215.0,82.0,3914.0,225.0,15.0,19.0,4172.0
4,Smythes Creek,1214.0,314.0,1528.0,496.0,241.0,279.0,133.0,64.0,1489.0,0.0,0.0,0.0,1490.0

### merged to domain listing

In [115]:
merged_df.head()

,SA2 Name,Immediate Family,Extended Family,Total Suburb Population,Two persons in family,Three persons in family,Four persons in family,Five persons in family,Six or more persons in family,Separate house,Semi-detached house or Townhouse,Flat or Apartment,Non-residential properties,Total Suburb Dwellings
0,Alfredton,4559.0,1728.0,6287.0,1812.0,952.0,1144.0,506.0,151.0,5717.0,223.0,275.0,27.0,6245.0
1,Ballarat,3060.0,2426.0,5486.0,1687.0,598.0,512.0,205.0,48.0,4588.0,863.0,417.0,105.0,5970.0
2,Buninyong,2008.0,708.0,2716.0,954.0,359.0,442.0,188.0,60.0,2613.0,78.0,45.0,19.0,2768.0
3,Delacombe,2934.0,1332.0,4266.0,1361.0,687.0,588.0,215.0,82.0,3914.0,225.0,15.0,19.0,4172.0
4,Smythes Creek,1214.0,314.0,1528.0,496.0,241.0,279.0,133.0,64.0,1489.0,0.0,0.0,0.0,1490.0

In [117]:
merged_df.rename(columns={"SA2 Name": "SA2_NAME"}, inplace=True)
merged_df.head()

,SA2_NAME,Immediate Family,Extended Family,Total Suburb Population,Two persons in family,Three persons in family,Four persons in family,Five persons in family,Six or more persons in family,Separate house,Semi-detached house or Townhouse,Flat or Apartment,Non-residential properties,Total Suburb Dwellings
0,Alfredton,4559.0,1728.0,6287.0,1812.0,952.0,1144.0,506.0,151.0,5717.0,223.0,275.0,27.0,6245.0
1,Ballarat,3060.0,2426.0,5486.0,1687.0,598.0,512.0,205.0,48.0,4588.0,863.0,417.0,105.0,5970.0
2,Buninyong,2008.0,708.0,2716.0,954.0,359.0,442.0,188.0,60.0,2613.0,78.0,45.0,19.0,2768.0
3,Delacombe,2934.0,1332.0,4266.0,1361.0,687.0,588.0,215.0,82.0,3914.0,225.0,15.0,19.0,4172.0
4,Smythes Creek,1214.0,314.0,1528.0,496.0,241.0,279.0,133.0,64.0,1489.0,0.0,0.0,0.0,1490.0

In [116]:
listing_domain.head()

,Location,type_property,price,LT_resident_pcg,owner_pcg,family_pcg,state,rooms,bath,parking,...,pulic_2_dis,rent,is_furnished,latitude,longitude,geometry,SA2_NAME,SA2_CODE,SAL_NAME21,SAL_CODE
0,4506/33 Rose Lane Melbourne VIC 3000,Apartment / Unit / Flat,$520 per week,12.0,28.0,27.0,VIC,1.0,1.0,0.0,...,2.0,520.0,False,-37.815000,144.953871,POINT (144.9538708 -37.8150001),Melbourne CBD - West,206041505.0,Melbourne,21640.0
1,1715/220 Spencer Street Melbourne VIC 3000,Apartment / Unit / Flat,$750,12.0,28.0,27.0,VIC,2.0,2.0,1.0,...,2.1,750.0,False,-37.815781,144.952916,POINT (144.9529156 -37.815781),Melbourne CBD - West,206041505.0,Melbourne,21640.0
2,512/118 Franklin Street Melbourne VIC 3000,Apartment / Unit / Flat,$430,NaN,29.0,16.0,VIC,1.0,1.0,0.0,...,1.3,430.0,False,-37.808205,144.958903,POINT (144.9589035 -37.8082052),Melbourne CBD - North,206041504.0,Melbourne,21640.0
3,5801/648 Lonsdale Street Melbourne VIC 3000,Apartment / Unit / Flat,$800,12.0,20.0,34.0,VIC,2.0,2.0,0.0,...,1.9,800.0,False,-37.814454,144.953443,POINT (144.9534426 -37.8144537),Melbourne CBD - West,206041505.0,Melbourne,21640.0
4,1.2/187 Collins Street Melbourne VIC 3000,Apartment / Unit / Flat,$475 pw,37.0,49.0,51.0,VIC,1.0,1.0,0.0,...,2.3,475.0,False,-37.815405,144.967852,POINT (144.9678522 -37.81540469999999),Melbourne CBD - East,206041503.0,Melbourne,21640.0

In [118]:
final_dataset = pd.merge(listing_domain, merged_df, on="SA2_NAME", how="inner")
final_dataset.head()

,Location,type_property,price,LT_resident_pcg,owner_pcg,family_pcg,state,rooms,bath,parking,...,Two persons in family,Three persons in family,Four persons in family,Five persons in family,Six or more persons in family,Separate house,Semi-detached house or Townhouse,Flat or Apartment,Non-residential properties,Total Suburb Dwellings
0,4506/33 Rose Lane Melbourne VIC 3000,Apartment / Unit / Flat,$520 per week,12.0,28.0,27.0,VIC,1.0,1.0,0.0,...,2445.0,396.0,100.0,6.0,6.0,14.0,21.0,13278.0,123.0,13443.0
1,1715/220 Spencer Street Melbourne VIC 3000,Apartment / Unit / Flat,$750,12.0,28.0,27.0,VIC,2.0,2.0,1.0,...,2445.0,396.0,100.0,6.0,6.0,14.0,21.0,13278.0,123.0,13443.0
2,5801/648 Lonsdale Street Melbourne VIC 3000,Apartment / Unit / Flat,$800,12.0,20.0,34.0,VIC,2.0,2.0,0.0,...,2445.0,396.0,100.0,6.0,6.0,14.0,21.0,13278.0,123.0,13443.0
3,521/422 Collins St Melbourne VIC 3000,Apartment / Unit / Flat,$500 weekly,18.0,28.0,39.0,VIC,1.0,1.0,0.0,...,2445.0,396.0,100.0,6.0,6.0,14.0,21.0,13278.0,123.0,13443.0
4,603/199 William Street Melbourne VIC 3000,Apartment / Unit / Flat,$700,22.0,29.0,24.0,VIC,2.0,2.0,0.0,...,2445.0,396.0,100.0,6.0,6.0,14.0,21.0,13278.0,123.0,13443.0

In [119]:
file_path = "../data/curated/ABS_data/ABS_domain.csv"

# Use the to_csv method to save the DataFrame to a CSV file
final_dataset.to_csv(file_path, index=False)